@page
@model IndexModel
@using CarpetCalculator.Model
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Carpet Calculator </h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <label asp-for="carpetObject.RoomWidth" class="col-lg-2"></label>
                    <input type="number" asp-for="carpetObject.RoomWidth" class="col-lg-2" step="0.1" />
                </div>
                <div class="row">
                    <label asp-for="carpetObject.RoomLength" class="col-lg-2"></label>
                    <input type="number" asp-for="carpetObject.RoomLength" class="col-lg-2" step="0.1" />
                </div>

                <div class="row">
                    <label asp-for="carpetObject.IsUnderlay" class="col-lg-2"></label>
                    <input type="checkbox" asp-for="carpetObject.IsUnderlay" class="col-lg-2" />
                </div>

                <div class="row">
                    <label asp-for="carpetObject.IsInstall" class="col-lg-2 text-danger"></label>
                    <input type="checkbox" asp-for="carpetObject.IsInstall" class="col-lg-2" />
                </div>

                <label asp-for="carpetObject.CarpetSelection"></label>
                <select asp-for="carpetObject.CarpetChoice" asp-items="Model.carpetObject.CarpetSelection">
                    <option selected="selected" value="Choose Carpet"></option>
                </select>

                <div class="row">
                    <input type="submit" value="Submit" asp-action="Index" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">

        <div class="row">
            <label asp-for="carpetObject.Result" class="col-lg-2"></label>
            <input type="number" disabled="disabled" class="col-lg-2" asp-for="carpetObject.Result" />
        </div>
    </div>

</div>

